 <!DOCTYPE html>
<html xmlns:th='http://www.thymeleaf.org' lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Products</title>

        <link
            href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css"
            rel="stylesheet" />
        <link data-th-href="@{'/css/output.css'}" rel="stylesheet">

    </head>
    <body>

        <div th:replace="navbar :: navbar"></div>

        <div class="mt-32 max-w-screen-xl mx-auto px-4">
            <h1 class="text-2xl font-bold">List of products</h1>
        </div>

        <!-- Table -->

        <div
            class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default">
            <table class="w-full text-sm text-left rtl:text-right text-body">
                <thead
                    class="text-sm text-body bg-neutral-secondary-medium border-b border-default-medium">
                    <tr>
                        <th scope="col" class="px-6 py-3 font-medium">
                            Category Id
                        </th>
                        <th scope="col" class="px-6 py-3 font-medium">
                            Category Name
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="category : ${categories}"
                        class="bg-neutral-primary-soft border-b  border-default">
                        <td th:text="${category.id}" scope="row"
                            class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                            Id
                        </td>
                        <td th:text="${category.name}" class="px-6 py-4">
                            Name
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

        

        <a href="/category/addCategory"
            class="inline-block px-4 py-2 rounded-lg bg-indigo-600 text-white
          hover:bg-indigo-700 transition">
            Add New Category
        </a>

        <a href="/category/deleteCategory"
            class="inline-block px-4 py-2 rounded-lg bg-indigo-600 text-white
          hover:bg-indigo-700 transition">
            Delete Category
        </a>

        <a href="/category/updateCategory"
            class="inline-block px-4 py-2 rounded-lg bg-indigo-600 text-white
          hover:bg-indigo-700 transition">
            Update Category
        </a>

    </body>

</html>