    <!DOCTYPE html>
    <html xmlns:th='http://www.thymeleaf.org' lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Products</title>

        <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
        <link data-th-href="@{'/css/output.css'}" rel="stylesheet">
        
    </head>
    <body>

    <div th:replace="navbar :: navbar"></div>

    <div class="mt-32 max-w-screen-xl mx-auto px-4">
        <h1 class="text-2xl font-bold">List of products</h1>
    </div>


    <!-- Table -->

    <div class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default">
        <table class="w-full text-sm text-left rtl:text-right text-body">
            <thead class="text-sm text-body bg-neutral-secondary-medium border-b border-default-medium">
                <tr>
                    <th scope="col" class="px-6 py-3 font-medium">
                        Product name
                    </th>
                    <th scope="col" class="px-6 py-3 font-medium">
                        Price
                    </th>
                    <th scope="col" class="px-6 py-3 font-medium">
                        Brand
                    </th>
                    <th scope="col" class="px-6 py-3 font-medium">
                        Unit Left
                    </th>
                    <th scope="col" class="px-6 py-3 font-medium">
                        Manufacture Date
                    </th>
                    <th scope="col" class="px-6 py-3 font-medium">
                        Expiration Date
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product : ${products}" class="bg-neutral-primary-soft border-b  border-default">
                    <th th:text="${product.name}" scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                        Product Name
                    </th>
                    <td th:text="'Rs. '+${product.price}" class="px-6 py-4">
                        price
                    </td>
                    <td th:text="${product.brand}" class="px-6 py-4">
                        brand
                    </td>
                    <td th:text="${product.unitLeft}" class="px-6 py-4">
                        Unit Left
                    </td>
                    <td th:text="${product.manufactureDate}" class="px-6 py-4">
                        manufacture Date
                    </td>
                    <td th:text="${product.expirationDate}" class="px-6 py-4">
                        expiration Date
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>



    </body>

    </html>